<section class="bg-softgray pb-3 pt-20">
    <div class="user">
        <h1>External Transactions</h1>
        <p>
            In this section you can check transactions that doesn't have a defined group.
        </p>
    </div>
    <%= display_externals(@spendings) %>
</section>