<section>
    <div class="user">
        <h1>Check Your Expenses</h1>
        <p>
            In this section you can check and create new expenses in your list with their respective groups.
        </p>
    </div>
    <%= render partial: "form" %>
    <%= display_spendings(@spendings) %>
</section>