<section>
  <div class="box">
    <div class="title">
      <h1>Smart Spending</h1>
      <p>
        Smart Spending is a platform designed to<br> manageand control all of your monthly<br>
        expenses. <br><br>Create your account and start saving for the future!
      </p>
    </div>
    <%= image_tag "spendsmart.png", style: 'height:30%;width:30%;border-radius:100%;' %>
  </div>
  <%= show_profile(current_user) %>
</section>