/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8rem;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 8rem;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 8% 2%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 250px;
  padding: 30px 70px;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 25px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.title {
  margin: 3rem;
}

.textindex {
  margin: 10rem;
}

.image {
  width: 70px;
  height: 70px;
}

.buttonstyle {
  margin-top: 40px;
  margin-bottom: 40px;
}

a:link {
  text-decoration: none;
}

.buttonstyle a {
  background-color: #5fb523;
  padding: 15px;
  border-radius: 25px;
  color: white;
}

body {
  margin: 0;
}

.header-fixed {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #3778c2;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  line-height: 60px;
}

.navbar .logo {
  flex: 3;
}

.navbar .logo a {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar .logo a:hover {
  color: #777;
}

.navbar nav {
  flex: 8;
}

.navbar label {
  user-select: none;
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  z-index: 3;
}

.navbar label i {
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  font-style: normal;
  font-weight: normal;
}

.navbar label i::before,
.navbar label i::after {
  content: '';
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar label i,
.navbar label i::before,
.navbar label i::after {
  display: block;
  background: #5fb523;
}

.navbar label i::before {
  top: 5px;
}

.navbar label i::after {
  top: -5px;
}

.navbar #navbar-toggle {
  display: none;
}

.header #navbar-toggle:checked ~ .menu {
  visibility: visible;
  opacity: 0.99;
}

.header #navbar-toggle:checked ~ label {
  background: #5fb523;
  border-radius: 50%;
}

.header #navbar-toggle:checked ~ label i {
  background: transparent;
}

.header #navbar-toggle:checked ~ label i::before {
  transform: rotate(-45deg);
}

.header #navbar-toggle:checked ~ label i::after {
  transform: rotate(45deg);
}

.header #navbar-toggle:checked ~ label:not(.steps) i::before,
.header #navbar-toggle:checked ~ label:not(.steps) i::after {
  top: 0;
}

@media (max-width: 768px) {
  .navbar nav {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    display: table;
    background: #ddd;
  }

  .navbar nav ul {
    margin: 0;
    padding: 20px 0;
    display: table-cell;
    vertical-align: middle;
  }

  .navbar nav li {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .navbar nav li:hover {
    background: #212121;
  }

  .navbar nav li a {
    color: #212121;
  }

  .navbar nav li:hover a {
    color: #fff;
    transition: all 0.3s ease-out;
  }
}

@media (min-width: 768px) {
  .navbar nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
  }

  .navbar nav li {
    flex: 1;
  }

  .navbar nav li a {
    display: block;
    padding: 0 8px;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
  }

  .navbar nav li.active {
    background: #555;
  }

  .navbar nav li:hover {
    background: #333;
  }

  .navbar label {
    display: none;
  }
}
